@charset "UTF-8";
/* CSS Document */


/*Normalize Process*/

 ul,
 ol {
	 list-style: none;
	 margin: 0;
	 padding: 0;
 }
 
 
 /*base layout styles*/
  * {
	  
	   box-sizing: border-box;
	   
  }
 
   h1 {
	background-color: #fff;
	border : 1px solid black;   
   
   }
   
   ul li {
		background-color: #fff;
		border : 1px solid black;   
   
   }
 
 
   .container {
	 padding-left: 1em;
	 padding-right: 1em;
  }
  
  .main_head {
	background-color: rgb( 234, 114 , 93 );
	  padding: 1em 0;
	  
  }
  
  .contact {
	background-color: rgb(  );
  }
  
  .main_footer {
	 background-color: rgb( 234, 114 , 93 ); 
  }
  
  /*mediq query for portable device*/
  
  @media (min-width: 320px ) {
	 .container { 
	 width: 70%;  
	 max-width: 1000px;
	margin: 0 auto;  
	
	 }
  }