@charset "UTF-8";
/* CSS Document */


/*Normalize Process*/
  * {
	box-sizing: border-box;  
	}
	
	#wrap {
	 width: 100%;	
	}
	
 ul,
 ol {
	 list-style: none;
	 margin: 0;
	 padding: 0;
 }
 
 
 /*base layout styles*/
  * {
	   box-sizing: border-box;
	 }
      
	   body {
		   font-family: Helvetica, Arial, Optima;
		   background-color: rgb( 247, 248, 247 );
	   }
			  #wrap {
			   width: 100%;	
			  }
	   nav {
		   
	   }
	   
       .name {
		font-size: 1.25em;
		margin: 0 auto;
		padding: 1em 0;
		margin-bottom: 2px;
		}
	
       .main-nav li {
		   margin: 12px 0;
	   }
	
	   .main-nav li  {
	   border-radius: 5px;
	   text-transform: uppercase;
	   font-size: .95em;
	   text-decoration: none;
	   background-color: #fff;
       padding: 10px;
	  }
	
	   .main-nav li a {
		text-decoration: none;
		color: black;
		}
	
	   .main-nav li:hover {
		  background-color: rgb(231, 229, 234 );
		  border: 1px solid rgb(231, 229, 234 );
	    }
    
	   .img-container {
	    padding-left: 1em;
	    padding-right: 1em;
        }
  
             .main-head {
	            color: #3a3a3a;
				padding-top: 1.5em;
				padding-bottom: 1.5em;
				margin-bottom:20px;
			 }
  
             .profile p {
		  		color: rgb(116, 105, 117 );
		      }
  
			 p {
			  font-size: 1em;
			  line-height:  1.2em;   
			 }
			  
  			 .title {
				text-align: center;
				font-size: 1em;
				letter-spacing: .01em;
				padding-top: 4px;
				padding-bottom: 2px;
				margin-top: 45px;
				margin-bottom: 15px; 
				text-transform: uppercase;
			}
	  
	        .contact {
			  text-align: center;
			  font-size: 1em;
			 }
			 
			.low-para,
			 .info_p,
			 .info_e {
				 color: rgb( 116, 105, 117);
			}
			 
				 .me,
			.pics img {
				max-width: 100%;
			}

 /* $ iMaGe CoNtAiNeR sTyLeS $ */
 
 
   .img-container p,
			.pics li  {
		   text-align: center;
  }

	 .img-container p {
		 margin: 25px 0;
  }
			   
	 .img-container img {
	     margin-bottom: 40px;
  }
			  
	/*  $ MaIn_FoOtEr StYleS $ */
	
			      
				    .main-footer {
					color: #3a3a3a; 
				  }
				
				
			  
				   #footer-nav li {
					 text-transform: uppercase;
					 font-size: 0.75rem;
					 
				   }
			  
	  /*      mEdIa QuErY fOr PoRtAbLe DeViCeS         */
  
                        @media (min-width: 320px ) {
	 
							   #wrap {
								 margin: 0 auto;
								 width: 50%;
								 max-width: 1000px;
							 }
	   
							   .img-container { 
							   width: 70%;  
							   max-width: 1000px;
							  margin: 0 auto;  
							  
							 }
	 
	.name,
	.main-nav {
	text-align: center;	
	}
	   
	.name,
	.main-nav,
	.main-nav li {
	 display: block;
    }

	.main-nav,
	.main-nav li {
	position: relative; 
	 
	}
	
	.main-nav li  {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 12px;
	border: 1px solid #fff;
	border-radius: 5px;
	
	}
	
					.profile,
					  p {
					width: 100%;
					
					margin: 0 auto;
					margin-top: 10px;
					text-align: center;
					}
					
					   
					.me {
						width: 50%;
						margin: 12px;
						padding: 10px;
					}
	   
					.profile p {
					  width: 50%;
					padding: 5px 2px;
					line-height: 1.30em;
				    }
				  
						  .title {
							  margin-bottom: 50px;
						  }
			
	 .container {
	   margin: 0 auto;
	   width: 100%;
	   text-align: center;
	}
 
     .contact {
	  text-transform: uppercase;
	  font-size: 0.75rem;
	  letter-spacing: .012em;
    }
	
			
		   .low-para {
			   width: 60%;
			   padding-top: 6px;
			   padding-bottom: 4px;
			   margin-top: 8px;
			   margin-bottom: 16px;
			   font-size: 1.125rem;
		   }
		    
		   .info-e, 
	       .info-p {
			 font-size: 1.125rem;
			 padding: 2px 1px;
		  }
		  
		   .info-p {
			margin-bottom: 12px;   
		   }
		   
			.info-e {
			  margin-bottom: 45px;	
			}
			
									  .main-footer {
									   width: 100%;	
									   margin: 0 auto;
									  }
									  
									  #footer-nav {
									  
									  visibility:hidden;
									  
								  }
								
								   #button {
										background-color: #fff;
										border-radius: 5px;
										border: 1px solid #fff;
								   }
								   
									#button a {
										text-decoration: none;
										color: black;
									}
									
									#button:hover {
										background-color: rgb(231, 229, 234 );
										border: 1px solid rgb(231, 229, 234 );
									}
										  
								    #button a:active {
									    color: rgb(122, 196, 187);
								    }
							
							
							
									#footer-name {
										float: left;
										margin: 0;
									}
									
									#but-box {
										float: right;
									}
							
									  #footer-name,
									  #but-box {
										  display: inline-block;
										  margin-bottom: 40px;
								    }
							
									#footer-name {
									  margin-left: 90px; 
									  margin-top: 45px;
									}
									
									#but-box {
									  margin-right: 80px;	
									}
      }
  
  
                     @media (min-width: 768px ) {
						 
						 
									#wrap {
									 margin: 0 auto;
									 width: 100%;
									 max-width: 1200px;
									}
	 
									 .img-container {
									  width: 100%;
									  max-width: 1150px;
									  margin: 0 auto;
									}
									   .main-head {
										   width: 90%;
										   max-width: 1100px;
										   margin: 0 auto;
										   margin-bottom: 5px;
									   }
									
			        .nav-con      {
			         margin: 0 auto;
					 width: 70%;
					 margin-bottom: 15px;
					 padding: 1em 1.2em;  
				     }
				   
				    .main-nav li {
			         display: inline-block;
					 width: 30%;
					 margin-left: 8px;
				   }
			   
	    .profile {
		 padding: 5px;
		  width: 90%;
		  max-width: 1120px;
		  margin: 0 auto;
		}
		
		.me {
		float: right;
	    width: 40%;
		margin-top: 17px;
		margin-bottom: 50px;
		margin-right: 55px;
	    }
		
	   .profile p {
		margin-top: 20px;
		margin-left: 60px;	
		width: 70%;
		text-align: left;
		}
		 
	                   .pics li {
			             width: 42%;
			             float: right;
			             margin-right: 45px;
			           }
		  
											  .low-para {
												text-align: center;
												width: 70%;
												line-height: 1.5em;  
												padding: 2px 0;
												margin-bottom: 35px;
											  }
											  
											           .contact {
														 margin-top: 50px;  
													   }
		  												
																.info-e {
																 	margin-bottom: 50px;
																}
		
																 #but-box {
																   visibility: hidden;	
																  }
		
												  #footer-nav,
												  #footer-nav li {
													  visibility: visible;
												  }
												  
								           #footer-nav li a {
											  display: block;
											  text-decoration: none;
											  color: black; 
										   }
		
										  #footer-nav li:hover {
											background-color: rgb(231, 229, 234 );
											border: 1px solid rgb(231, 229, 234 );
									       }
		
										  #footer-name,
										  #footer-nav,
										  #footer-nav li {
											 display: inline-block;	
											 padding-top: 3px;
											 margin-top: 12px;
										  }
											  
										  #footer-nav {
											  float: right;
											  margin-right: 50px;
										  }
 		
							#footer-name {
							  margin-left: 80px;
							  margin-top: 25px;
							  
							}
		
			#footer-nav li {
				text-align: center;
				margin-left: 10px;
				border: 1px solid #fff;
				background-color: #fff;
				border-radius: 5px;
				padding: 4px 10px;
		}
	}
       
	     @media (min-width: 1024px ) {
	   
								  #wrap {
									 width: 90%;
									 margin: 0 auto;
									 max-width: 1100px;
								  }
			   
				  .img-container {
				  width: 100%;
				  max-width: 1200px;
				  margin: 0 auto;  
				}
	   
	.main-head {
		width:  90%;
		padding: 1em 0;
		margin-bottom: 20px;
		max-width: 1100px;
		
	}

		           .nav-con {
					width: 100%;
					margin: 0 auto;
					padding: 1em 0;
				   }
				  
				   .name,
				   .main-nav,
					.main-nav li {
					   display: inline-block;
				   }
			
					  .main-nav {
						  float: right;
						  margin-right:  50px;
						  width: 40%;
					  }
					  
					  .name {
						float: left;
						line-height: 6px;
						margin-left: 60px;
						
					  }
		 
		    							.profile  {
										  max-width: 90%;
										  margin: 0 auto;
										  width: 90%;
										  margin-top: 1em;
										}
		  
		 								.profile  p {
										  float: left;
										  font-size: 1.25rem;   
										  text-align: left;
										  margin-top: 20px;
										  padding: 2px 0;
										  width: 40%
									   }
		 
		 								 .me {
										  margin-top: 25px;
										  float: right;
										  width: 40%;
										  padding: 2px 0;
									   }
									  
		   					   .title {
								 font-size: 0.875rem;
								 margin-top: 48px;
								 padding: 4px 0;
								 letter-spacing: .03em;
								 text-transform: uppercase;
							 }
								 
				   .pics p {
					 line-height: 1.50;
				   }
			 
	               .pics li {
					  width: 30%;	
					  float: right;
					  max-width: 90%;
					  margin-right: 26px;
					  }
			  
									  .container {
										width: 67%;
										margin-top: 40px;
										margin-bottom: 30px;
									   }
		  
													   .low-para {
														   font-size: 1.25rem;
														   padding: 10px 0;
														   line-height:1.25em;
															 
													   }
	   
										.main-footer {
											width: 90%;
											max-width: 1100px;
										}
	   
	   				#footer-nav li a {
					  text-decoration: none;
			          color: black;
		          }
		
					#footer-name {
				  }
		
					#footer-nav {
						text-transform: uppercase;
						font-size: 0.75rem;
				  }
					
					
					#footer-nav,
					#footer-nav li {
						 display: inline-block;	
						 text-align: center;
						 font-weight: bold; 
						
				  }
					
					#footer-nav li {
						
					border: 1px solid #fff;
					background-color: #fff;
					visibility: visible;	
					border-radius: 5px;
				  }
					
	    #but-box {
		  visibility: hidden;
	    }
	}
   
    .clearfix::after {
	 content: "";
	 display: table;
	 clear: both;	
 }