@charset "UTF-8";
/* CSS Document */


/*Normalize Process*/
  * {
	box-sizing: border-box;  
	}
	
	#wrap {
	 width: 100%;	
	}
	
 ul,
 ol {
	 list-style: none;
	 margin: 0;
	 padding: 0;
 }
 
 
 /*base layout styles*/
  * {
	  
	   box-sizing: border-box;
	 }
  
    #wrap {
	 width: 100%;	
	}
	
    .name {
		font-size: 1.25em;
		}
		
	.main_nav li {
	 border: 1px solid black;
     
	 font-size: 1.2em;	
	 background-color: #fff;
	 padding: 4px 20px;
	 margin-top: 4px;
	 margin-bottom: 4px;
	}
	
	.main_nav a {
		font-size: .95em;
		display: block;
		text-decoration: none;
		color: black;
	}
	
	
    
	 
   .container {
	 padding-left: 1em;
	 padding-right: 1em;
  }
  
  .main_head {
	background-color: rgb(221, 225, 220);
	  padding: 1em 0;
	  width: 100%;
	  
  }
  
	.main_footer {
	 background-color: rgb( 234, 114 , 93 ); 
  }
  
  /*mediq query for portable device*/
  
  @media (min-width: 320px ) {
	 
	    
	   
	   
	 .container { 
	 width: 60%;  
	 max-width: 1000px;
	margin: 0 auto;  
	
	 }
	    .name,
	   .main_nav li {
		text-align: center;   
	   }
	   
	  
  }
  
   @media (min-width: 768px ) {
	 
	  
	  .container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;  
	  }
	  
	   .main_head {
		text-align: center;   
	   }

	   .name,
   .main_nav li { 
       
	   display: inline-block;
	   
   }
        
   }
   
   @media (min-width: 1024px ) {
	   
	   
	 
	    .container {
		width: 100%;
		
		
		
		max-width: 1280px;
		margin: 0 auto;  
	  }
	  
	   	
		
		
			 
	    .name,
	   .main_nav,
      .main_nav li {
		  display: inline-block;
		  margin-top: 6px;
		  margin-bottom: 6px;
		  margin-left: 10px;
	}
	  .name {
		  float: left;
		  margin-top: 30px;
	  }
	  .main_nav {
		  margin-left: 510px;
	  }
	 
	  .me {
		  display: inline-block;
		  margin-left: 900px;
		  padding: 70px 20px; 
		  float: left;
		  
	  }
	 
	  .profile  {
		  width: 30%;
		  text-align: left;
		  margin-left: 95px;
		 float: left;
		   
	  }
	  
	
	 
   }
   
    .clearfix:after {
	 content: "";
	 display: block;
	 clear: both;	
		
		
	}